body
{
    background-color: rgb(247, 247, 245);

}
header
{
    height: 80px;
    background-color: cadetblue;
}
header h1 a
{
    text-decoration: none;
    color: rgb(211, 226, 240);
}
header h1
{
    font-size: 40px;
    display: inline-block;
    padding: 12px;
    margin: 10px;
    margin-top: 5px;
}

nav
{
    float: right;
}
nav ul
{
    /* display: inline; */
    list-style-type: none;
    padding: 10px;
}
nav ul li
{
    display: inline;
    margin: 10px;
    font-size: 23px;
   
}
nav ul li:hover
{
    background-color: rgb(143, 143, 143);
}

nav ul li a
{
    text-decoration: none;
    color: rgb(16, 227, 255);

}
#body
{
    margin-top: 20px;
    height: 510px;
    padding: 10px;

}
#body .information
{
    padding: 10px;
    margin-left: 25%;
    width: 550px;
    border: 5px solid rgb(255, 165, 165);
    background-color: white;
}
#body .information form :first-child
{
    padding: 4px;
    border: 2px solid gray;
    display: block;
    margin-top: 3px;
    margin-left: 20%;
    margin-bottom: 20px;
    width: 300px;
    height: 250px;
    padding: 5px;
    font-size: 18px;
    line-height: 27px;
    font-family: 'Times New Roman', Times, serif;

}
#body .information form input
{
    margin-left: 43%;
}
#body .information form a
{
    text-decoration: none;
    color: rgb(103, 101, 238);
    font-size: 23px;
    margin-left: 25%;
    border: 3px solid;
    border-radius: 20px;
  
}

#body .information form :last-child
{
    color: rgb(103, 101, 238);
    font-size: 23px;
    margin-left: 25%;
    border-radius: 20px;
}





.both
{
    clear: both;
}
footer
{
    margin-top: 300px;
    display: block;
    clear: both;
    background-color: cadetblue;
    height: 50px;
}
footer p
{
    display: inline-block;
    margin-left: 45%;
    margin-top: 17px;
}